.vaidee-footer {
	display: flex;
	align-items: center;
	color: black;
	text-align: center;
	justify-content: space-between;
	height: 50px;
	font-size: small;
	bottom: 0;
	width: 100%;
	border-top: 1px solid grey;
	z-index: 1000;
	background-color: white;
}

.vaidee-footer-link {
	padding: 0.2em 1em;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav ul li {
	display: inline;
}

nav ul li a {
	text-decoration: none;
	padding: 0.2em 1em;
	height: 50px;
}
