.vaidee-header-div {
	width: 100%;
	position: fixed;
}

.vaidee-logo-link {
	display: flex;
	float: left;
}
vaidee-icon {
	background: url("http://127.0.0.1:8887//vaidee.ico");
	height: 16px;
	width: 16px;
	display: block;
}
.vaidee-header-nav {
	display: flex;
	align-items: center;
	color: white;
	background-color: #282c34;
	text-align: center;
	justify-content: space-between;
	height: 50px;
	float: left;
	width: inherit;
}

.vaidee-nav-right {
	display: flex;
	flex-direction: row-reverse;
	right: 0;
}

.vaidee-logo {
	border: 0;
}

.vaidee-logo {
	text-decoration: none;
	height: 50px;
	border: 0;
	padding: 0.2em 1em;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav ul li {
	display: inline;
}

nav ul li a {
	text-decoration: none;
	padding: 0.2em 1em;
	height: 50px;
}
